.editor-label
{
    margin: 1em 0 0 0;
}

.editor-field
{
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #B94A48 !important;
    font-size: 12px !important;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border-color: #B94A48;
    box-shadow: none;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
    display:none;
}

.validation-summary-valid
{
    display: none;
}
